/* src/components/Header.css */
.header {
    position: fixed; /* Position the header as fixed */
    top: 0; /* Distance from the top */
    left: 0; /* Distance from the left */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    cursor: pointer; /* Change cursor to pointer for clickable logo */
    background: transparent; /* Semi-transparent background */
    padding: 10px 20px; /* Padding around the header */
    border-radius: 0; /* No rounded corners */
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow */
    z-index: 1000; /* Ensure it appears above other content */
    width: 100%; /* Ensure the header spans the full width */
}

.logo {
    height: 90px; /* Adjust the size as needed */
    margin-right: 5px; /* Space between logo and company name */
}

.company-name {
    font-size: 1.8rem; /* Font size for company name */
    color: #F2F5F7; /* Light color for contrast */
    font-weight: 700; /* Bold font weight */
    font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
    letter-spacing: 1px; /* Slightly increased letter spacing */
}

.end-button {
    margin-left: auto; /* Push the button to the right */
    margin-right: 7%; /* Space from the right */
}